# Dependencies
/frontend/node_modules
/servertest/node_modules

# Environment
/servertest/.env
/frontend/.env

# Build
/frontend/dist
/servertest/dist

# IDE
.vscode
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db" > .gitignore